{:paths ["bb"]
 :tasks
 {:requires ([tasks :as tasks])
  :init     (println "bb.edn running task")

  watch tasks/watch

  regenerate-steam-boxart
  {:description "Regenerate and reexport steam boxart"
   :task
   (do
     (tasks/generate-boxart-files)
     (tasks/export-all-boxart))}}}
