{:paths ["bb"]
 :tasks
 {:requires ([tasks :as tasks])
  :init     (println "bb.edn running task")

  watch tasks/watch

  regen-boxart
  {:description "Regenerate and re-export boxart"
   :task
   (do
     (tasks/generate-all-boxart)
     (tasks/export-all-boxart))}}}
